/* styles.module.css */

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: top left;
    z-index: -10;
    opacity: 0.3;
  }
  
  @media (min-width: 1192px) {
    .background-image {
      opacity: 1;
    }
  }
  